body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

.hero-section {
  background-color: #f8f9fa;
  padding: 0px 0 !important;
}

.hero-section h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #00469e;
}

.hero-section p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #00469e;
}

.download-icons img {
  margin: 10px;
  width: 200px;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #00469e;
}

section h5 {
  color: #00469e;
}

footer {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 0.9rem;
}

footer h6 {
  color: #00469e;
}

footer a {
  color: #00469e;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}



.slider-container {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  display: none;
}

.slide.active {
  display: block;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}